
{% extends "base.html" %}

{% block title %}Inscription{% endblock %}

{% block content %}
<div class="card p-4 shadow">
    <h2 class="text-center">Inscription</h2>
    <form action="/register_user" method="POST">
        <div class="mb-3">
            <label class="form-label">Nom</label>
            <input type="text" name="nom" class="form-control" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" name="email" class="form-control" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Mot de passe</label>
            <input type="password" name="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">S'inscrire</button>
    </form>
</div>
{% endblock %}
